h1{
  text-align: center;
  font-family: 'Zen Tokyo Zoo', cursive;
}

body {
  background-color: rgb(202, 236, 255);
  font-family: 'Nunito', sans-serif;
}


.navbar{
display: flex;
justify-content: space-between;
}

/* .myLabels{
  display: flex;
    justify-content: center;

}
 */


